FLASK_ENV=development
FLASK_DEBUG=false
PORT=8080
GCP_PROJECT_ID=promptwars-part1
GEMINI_API_KEY=AIzaSyA8pbEQetEB-0u2ZNFHGBKZuWoLr-VrIKY
MAPS_API_KEY=AIzaSyBC8CgPvhWBY5omlWgtSKEsN9EfSjNg9yw
GCS_BUCKET_NAME=nexus-app
USE_SECRET_MANAGER=false
LOG_LEVEL=INFO
